.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Question 1 flexbox structure */

.question {
  display: flex;
  justify-content: center;
}

.Q1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.Q1-row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Q1-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-item {
  padding: 10px;
}

ul {
  list-style: none;
}

input[type=radio] {
  display: none;
}

/*
Radio button code taken from https://www.sitepoint.com/replacing-radio-buttons-without-replacing-radio-buttons/
Lines 19-47
*/

/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5em;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: green;
  box-shadow: 0 0 0 0.25em #000;
}
