.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* The following 20 lines of code were taken from the source of http://www.hooli.xyz/ */
/*************************/

.splash-video {
  height: 90vh;
  margin-bottom: 80px;
}

@media (min-width: 1650px) {
  .splash-video {
    width: 100vw;
    max-width:100%;
    height: initial;
  }
}

@media (min-aspect-ratio: 16/10) {
  .splash-video {
    width: 100vw;
    max-width:100%;
    height: auto;
  }
}

/* Splash panel section */
.splash-panel-image {
  position: absolute;
  left: 50%;
  top: 45%;
}

.splash-panel-image.subtitle {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  left: 0;
  letter-spacing: 7px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/*************************/

.heading {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-bottom: 350px;
  background-image: url(img/careers.jpg);
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
}

/* Question 1 flexbox structure */

.question {
  display: flex;
  justify-content: center;
  align-self: center;
}

.qtitle {
  background-color: rgb(51, 153, 255);
  width: 1056px;
  align-self: center;
  color: white;
}

.Q1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.Q1-row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Q1-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-item {
  padding: 35px;
}

/*
code to overlay button on image from http://stackoverflow.com/questions/16615222/how-to-overlay-embed-bootstrap-button-on-image
Lines: 42-62
*/
/*************************/
.img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid red;
}

.img_container:hover {
  box-shadow: 10px 10px 5px grey;
}

.button {
    position:absolute;
    bottom:10px;
    right:10px;
    width:100px;
    height:30px;
}

ul {
  list-style: none;
}

input[type=radio] {
  display: none;
}
/*************************/

/* Referenced http://stackoverflow.com/questions/2491068/does-height-and-width-not-apply-to-span */

#textspan {
  display: block;
  width:304px;
  height: 250px;

  color: red;
  font-style: italic;
  font-size: 50px;

}

/*
Radio button code taken from https://www.sitepoint.com/replacing-radio-buttons-without-replacing-radio-buttons/
Lines 70-100
*/
/*************************/
/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5em;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: green;
  box-shadow: 0 0 0 0.25em #000;
}

.buttonbox {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 0px;
  margin-bottom: 100px;
}
/*************************/

/* Button code taken from https://www.w3schools.com/css/css3_buttons.asp */
/*************************/
#modal_button {

  background-color: rgb(51, 153, 255);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;

  width:300px;
}

.modal_flex {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/*************************/

/* Code taken from https://www.w3schools.com/howto/howto_css_modals.asp */
/*************************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 600px; /* Could be more or less, depending on screen size */
    height: 400px;
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*************************/
