.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
}

/* The following code was taken from the source of http://www.hooli.xyz/ */
/*************************/

.splash-video {
  height: 90vh;
  margin-bottom: 80px;
}

@media (min-width: 1650px) {
  .splash-video {
    width: 100vw;
    max-width:100%;
    height: initial;
  }
}

@media (min-aspect-ratio: 16/10) {
  .splash-video {
    width: 100vw;
    max-width:100%;
    height: auto;
  }
}

/* Splash panel section */
.splash-panel-image {
  position: absolute;
  left: 50%;
  top: 45%;
}

.splash-panel-image.subtitle {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  left: 0;
  letter-spacing: 7px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/*************************/

.heading {
  display: flex;
  justify-content: center;
  align-self: center;
  background-image: url(img/sky.jpg);
  width: 1056px;
  height: 120px;
}

/* Question general flexbox structure */

.question {
  display: flex;
  justify-content: center;
  align-self: center;
}

.qtitle {
  background-color: rgb(51, 153, 255);
  width: 1056px;
  align-self: center;
  color: white;
}

.Q1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.Q1-row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Q1-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-item {
  padding: 35px;
}

/*
code to overlay button on image from http://stackoverflow.com/questions/16615222/how-to-overlay-embed-bootstrap-button-on-image
*/
/*************************/
.img_container {
  position:relative;
  display:inline-block;
  text-align:center;
  border:1px solid red;
}

.button {
  position:absolute;
  bottom:10px;
  right:10px;
  width:100px;
  height:30px;
}
/*************************/

.img_container:hover {
  box-shadow: 10px 10px 5px grey;
}

ul {
  list-style: none;
}

input[type=radio] {
  display: none;
}


/* Referenced http://stackoverflow.com/questions/2491068/does-height-and-width-not-apply-to-span */

#textspan {
  display: block;
  width:304px;
  height: 250px;

  color: red;
  font-style: italic;
  font-size: 50px;

}

/*
Radio button code adapted from https://www.sitepoint.com/replacing-radio-buttons-without-replacing-radio-buttons/
*/
/*************************/
/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5em;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  display: inline-block;
  content: '';
  box-shadow: 0 0 0 0.15em black;
  margin-right: 0.5em;
  transition: 0.5s ease all;

  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: rgb(51, 153, 255);
  box-shadow: 0 0 0 0.25em black;
}
/*************************/

.buttonbox {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 0px;
  margin-bottom: 100px;
}

/* Button code adapted from https://www.w3schools.com/css/css3_buttons.asp */
/*************************/
#modal_button {

  background-color: rgb(51, 153, 255);
  color: white;
  border-radius: 5px;
  padding: 20px 20px;
  font-size: 20px;
  text-align: center;
  border: none;
  width:300px;
}
/*************************/

.modal_flex {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* Code adapted from https://www.w3schools.com/howto/howto_css_modals.asp */
/*************************/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 15px;
  /*border: 1px solid black;*/
  width: 70%;
  height: 400px;
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: rgb(51, 153, 255);
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*************************/

/* changed flexbox orientation from row to colum here for resizing, just like in Lab 1 */

@media only screen and (max-width: 640px) {

  .Q1-row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Q1-row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .splash-video {
    display: none;
  }

}
